@import "tailwindcss";

@layer theme {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
  }
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  .body {
    background-color: transparent;
  }

  body {
    background-color: transparent;
    color: var(--foreground);
  }
}